@font-face {
    font-family:setofont;
    src: url(/setofont.ttf);
}
@font-face {
    font-family:Hel;
    src: url(/HelveticaLTStd.otf);
}
body{
    margin: 0;
    background-color: lightgray;
    margin-bottom: 0;
}
.logo
{
    margin-left: 140px;
    width: 8%;
}
.menu_bar
{
    background-color: darkgray;
    height: 110px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.menu_bar ul{
    list-style: none;
    display: flex;
}
.menu_bar ul li {
    font-size: 1.1em;
    padding : 10px 30px ;
    position: relative;
}
.menu_bar ul li a {

    color : lightgray;
    transition: background-color 0.5s;
    filter: brightness(100%);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 2em;

}
.menu_bar ul li a:hover{
    filter: brightness(30%);
}

.dropdownmenu{
    z-index: 999;
    display: none;
}

.menu_bar ul li:hover .dropdownmenu
{
    z-index: 999;
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: darkgray;
}
.dropdownmenu ul 
{
    display: block;
    margin: 10px;
    margin-right: 3px;
}
.dropdownmenu ul li
{
    margin-right: 10px;
    width: 90px;
    padding: 10px;
}
.down
{
    float:right;
    margin-left: 10px;
    padding-top: 3px;
}

/* header finifh */


#span
{
    font-size: 1.5em;
}
#abouts
{
    font-size: 1em;
}
.hr
{
    width: 90%;
    height: 2px;
    background-color: black;
}
.WAP
{
    display: flex;
    padding-right: 90px;
}
.First 
{
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    display: flex;
}
.First p
{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
.A1
{
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}
.pho
{
    padding-right: 50px;
}
.btn 
{
    background-color: lightgray;
    border: none;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px ;
    width: 300px;
    height: 50px;
}
.btn:hover
{
    color: darkblue;
}
.groups h2
{
    padding-left: 50px;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.groups{
    padding-left: 50px;
}
#p1
{
    padding-left: 150px;
    padding-right: 50px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.award
{
    padding-left: 50px;
}
.award h1 {
    font-size: 3em;
}
.Year
{
    padding-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 2.9em;
    list-style: none;
}
.SYear
{
    padding-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 0.8em;
    list-style: none;
}

.hope h2
{
    font-size: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.hopes
{
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
}
.group
{
    padding-left: 50px;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.hope pre
{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
#p2
{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.F
{
    height: 5px;
    background-color: antiquewhite;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}